* {
  box-sizing: border-box;
  /* margin: 0; */
}

body {
  font-family: sans-serif;
}

@font-face {
  font-family: "Ducahier";
  src: url("fonts/Ducahier.ttf");
}

button {
  user-select: none;
}

a.button {
  user-select: none;
}

@font-face {
  font-family: "Hand";
  src: url("fonts/Hand.ttf");
}
